#name-tag {
    box-sizing: initial;
    border: darkslategrey solid 40px;
    border-radius: 40px;
    margin: 80px 40px 40px 40px;
    height: 270px;
    width: 400px;
    background-color: lightgray;
}

nav * {
    margin: 4px;
    font-family: monospace;
}

nav {
    box-sizing: initial;
    margin-left: 53px;
    margin-bottom: 53px;
    padding: 10px;
    background-color: salmon;
    height: 310px;
    width: 361px;
    border-radius: 40px;
    border: darkolivegreen 40px solid;
}

header, main, footer {
    margin-left: 5px;
}

header {margin-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    width: 390px;
    font-family: Poppins, Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

h1, h2 {
    margin: 0;
}

main {
    width: 390px;
    height: 70px;
    text-align: center;
    justify-content: center;
    background-color: white;
    font-family: Cedarville Cursive, cursive;
    font-weight: bold;
    font-size: 2rem;
}

footer {
    width: 390px;
    background-color: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px;
}

.pronouns {
    font-size: 1rem;
    display: inline-flex;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: khaki;
    flex-direction: column;
}

.button {
    background-color: lightgreen;
    color: darkslategrey;
    font-weight: 600;
    float: right;
    border: darkorange 3px solid;
    border-radius: 3px;
}

.button:hover {
    background-color: darkorange;
    cursor: pointer;
}

.text-input {
    width: 170px;
    background-color: darkslategrey;
    color: white;
    border: darkorange 3px solid;
    border-radius: 3px;
}

#custom-pronouns {
    width: 100px;
}

.bottom-element {
    margin-top: 36px;
}

.select {
    background-color: darkslategrey;
    color: white;
    border: darkorange 3px solid;
    border-radius: 3px;
}

select:hover, .text-input:hover {
    background-color: midnightblue;
}